/MCS Projects/.gradle
/MCS Projects/.idea
/MCS Projects/build
/MCS Projects/gradle
/MCS Projects/MushyDelight/.gradle
/MCS Projects/MushyDelight/.idea
/MCS Projects/MushyDelight/build
/MCS Projects/MushyDelight/gradle
